@{
    Layout = null;
}

<style>
    #slideshow h2 {
        margin: 2em -20px 0em !important;
    }
</style>
<div class="content">
    <!-- LOGO -->
    <div class="logo">

    </div>
    <!-- SLIDESHOW -->
    <div id="slideshow">
        <div class="one">
            <h2>
                <img src="~/dist/img/Final-loght.png" style="height:150px;width:400px;" />
            </h2>
        </div>
        <div class="two">
            <h2>
                <img src="~/dist/img/Final-loght.png" style="height:150px;width:400px;" />
            </h2>
        </div>
    </div>
    @*<div class="two">
            <h2><span>LEARNING</span></h2>
            <p>Thousands of instant online classes/tutorials included</p>
        </div>
        <div class="three">
            <h2><span>GROUPS</span></h2>
            <p>Create your own groups and connect with others that share your interests</p>
        </div>
        <div class="four">
            <h2><span>SHARING</span></h2>
            <p>Share your works and knowledge with the community on the public showcase section</p>
        </div>*@

</div>
